<div class="row d-flex flex-row justify-content-center">
  <div class="col-12 col-md-4 text-center">
    <small class="fw-light">Syllex</small>
    <div
      class="w-100 d-flex flex-row justify-content-evenly align-items-center mt-3"
    >
      <button type="button" class="btn-flat text-light">
        <lucide-icon [img]="ActivityIcon" [size]="20"></lucide-icon>
      </button>
      <button type="button" class="btn-flat text-light">
        <lucide-icon [img]="AlarmClockIcon" [size]="20"></lucide-icon>
      </button>
      <button type="button" class="btn-flat text-light">
        <lucide-icon [img]="BellIcon" [size]="20"></lucide-icon>
      </button>
      <button type="button" class="btn-flat text-light">
        <lucide-icon [img]="CalendarIcon" [size]="20"></lucide-icon>
      </button>
      <button type="button" class="btn-flat text-light">
        <lucide-icon [img]="CheckCircleIcon" [size]="20"></lucide-icon>
      </button>
    </div>
  </div>
</div>
