<div class="text-light d-flex flex-column">
  <div
    class="text-center d-flex flex-column align-items-center px-3 pt-3 gap-1"
  >
    <app-avatar [size]="'lg'"></app-avatar>
    <small>convivostudio.it</small>
    <small>luigi&#64;convivostudio.it</small>
  </div>
  <hr />
  <div class="d-flex align-items-center gap-2 section-title line p-1">
    <lucide-icon [img]="UserCircleIcon" [size]="16"></lucide-icon>
    <small class="text-light m-0">PROFILO</small>
  </div>
  <div class="d-flex align-items-center gap-2 section-title line p-1">
    <lucide-icon [img]="SettingsIcon" [size]="16"></lucide-icon>
    <small class="text-light m-0">IMPOSTAZIONI</small>
  </div>
  <hr />
  <div
    class="d-flex align-items-center gap-2 section-title line p-1 text-danger"
  >
    <lucide-icon [img]="LogOutIcon" [size]="16"></lucide-icon>
    <small class="m-0">LOGOUT</small>
  </div>
</div>
