<div id="fieldsHeader" class="mb-3 d-flex flex-row w-100">
  <div
    class="nameField d-flex flex-row align-items-center justify-content-between py-0 px-2 position-relative ">
      <small >Nome</small>
      <button class="btn-sm btn-flat text-light">
        <lucide-icon [img]="ChevronDownIcon" [size]="12"></lucide-icon>
      </button>
      <div class="spacer" (pointerdown)="onPointerDown($event)"></div>
    </div>


    <div class="w-50 overflow-x-scroll d-flex align-items-center" id="otherFields">
      @for(field of ['Nome', 'Cognome', 'Email', 'Telefono', 'Indirizzo']; track
      $index;) {
      <div
        class="field p-2 position-relative d-flex flex-row justify-content-between align-items-center"
      >
        <small>{{ field }}</small>
        <button class="btn-sm btn-flat text-light">
          <lucide-icon [img]="ChevronDownIcon" [size]="12"></lucide-icon>
        </button>
        <div class="spacer" (pointerdown)="onPointerDown($event)"></div>
      </div>
      }
      <button class="btn-sm btn-flat ms-2 text-light">
          <lucide-icon [img]="PlusIcon" [size]="12"></lucide-icon>
      </button>
    </div>

</div>

  @for(section of sections; track $index; let isLast = $last) {
  <div [class.mb-4]="!isLast">
    <app-tasks-section [tasksSection]="section"></app-tasks-section>
  </div>
  }

  <button class="btn btn-sm btn-primary mt-3">
    <lucide-icon [img]="PlusIcon" [size]="12"></lucide-icon>
    <small class="ms-1">Aggiungi sezione</small>
  </button>

